<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">
<!--    检查账号or手机号是否存在检查账号or手机号是否存在-->
    <select id="checkDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="int">
        select  count(user_code)
        from    t_sys_user
        where   is_delete       =   0
        and     user_account    =   #{userAccount}
        or      user_phone      =   #{phone}
    </select>
    <!--    检查修改账号or手机号是否存在(自己除外)-->
    <select id="checkUpdateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="int">
        select  count(user_code)
        from    t_sys_user
        where   is_delete       =   0
        and
        (
                user_account    =  #{userAccount}
        or      user_phone      =   #{phone}
        )
        and     user_code       !=  #{driverCode}
    </select>
<!--    新增用户-->
    <insert id="addUser" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_sys_user
        (
        user_code,          user_name,          user_phone,
        user_image_path,    user_account,       user_password,
        user_id_card,       is_delete,          create_user,
        create_time,        last_update_user,   last_update_time,
        version,            user_role
        )
        values
        (
        #{driverCode},      #{userName},        #{phone},
        #{userProfile},     #{userAccount},     #{userPassword},
        #{userIdCard},      #{isDelete},        #{createUser},
        now(),              #{lastUpdateUser},  now(),
        0,                  #{role}
        )
    </insert>
<!--    新增司机信息接口-->
    <insert id="addDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_sys_driver
        (
        driver_code,        province_code,          city_code,
        area_code,          is_delete,              create_user,
        create_time,        last_update_user,       last_update_time,
        version
        )
        values
        (
        #{driverCode},      #{provinceCode},    #{cityCode},
        #{areaCode},        #{isDelete},        #{createUser},
        now(),              #{lastUpdateUser},  now(),
        0
        )
    </insert>
<!--    查询司机信息详情接口-->
    <select id="findDriver" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
        a.user_name           as      userName,
        a.user_phone          as      phone,
        a.user_image_path     as      userProfile,
        a.user_account        as      userAccount,
        a.user_password       as      userPassword,
        a.user_id_card        as      userIdCard,
        c1.area_name          as      provinceName,
        c2.area_name          as      cityName,
        c3.area_name          as      areaName
        from
        t_sys_user  a,  t_sys_driver    b,
        t_sys_area  c1, t_sys_area      c2,
        t_sys_area  c3
        where   b.is_delete     =   0
        and     a.user_code     =   b.driver_code
        and     b.province_code =   c1.area_code
        and     b.city_code     =   c2.area_code
        and     b.area_code     =   c3.area_code
        and     driver_code     =   #{driverCode}
    </select>
<!--    分页查询司机-->
    <select id="listDriverByPage" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
        driver_code     as      driverCode,
        user_name       as      userName,
        user_phone      as      phone,
        user_id_card    as      userIdCard,
        user_account    as      userAccount,
        a.version       as      version
        from
        t_sys_user  a,  t_sys_driver  b, t_sys_store s
        where   b.is_delete     =   0
        and     a.user_code     =   b.driver_code
        <if test="driverCode != null and driverCode != ''">
            and driver_code like concat('%', #{driverCode}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and user_name like concat('%', #{userName}, '%')
        </if>
        <if test="provinceCode != null and provinceCode != ''">
            and province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and cityCode != ''">
            and city_code = #{cityCode}
        </if>
        <if test="areaCode != null and areaCode != ''">
            and area_code = #{areaCode}
        </if>
        <if test="role == 1">
            and s.user_code     =   #{userCode}
            and b.province_code =   s.province_code
            and b.city_code     =   s.city_code
            and b.area_code     =   s.area_code
        </if>
    </select>
<!--    修改用户表相关信息-->
    <update id="updateUser" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update  t_sys_user
        set
        user_password       =       #{userPassword},
        user_name           =       #{userName},
        user_phone          =       #{phone},
        user_account        =       #{userAccount},
        user_image_path     =       #{userProfile},
        user_id_card        =       #{userIdCard},
        version             =       version + 1,
        last_update_user        =       #{lastUpdateUser},
        last_update_time        =       now()
        where
        user_code   =   #{driverCode}
    </update>
<!--    修改司机信息接口-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update  t_sys_driver
        set
        province_code        =       #{provinceCode},
        city_code            =       #{cityCode},
        area_code            =       #{areaCode},
        version              =       version + 1,
        last_update_user     =       #{lastUpdateUser},
        last_update_time     =       now()
        where
        driver_code   =   #{driverCode}
    </update>
<!--    删除对应用户信息-->
    <update id="deleteUser" parameterType="com.xzsd.pc.driver.entity.DriverDTO">
        update  t_sys_user
        set
        version                 =       version + 1,
        last_update_user        =       #{lastUpdateUser},
        last_update_time        =       now(),
        is_delete               =       1
        where user_code in
        <foreach collection="driverCodeList" item="userCode" index="index" open="(" separator="," close=")">
            #{userCode}
        </foreach>
    </update>
<!--    删除司机信息接口-->
    <update id="deleteDriver" parameterType="com.xzsd.pc.driver.entity.DriverDTO">
        update  t_sys_driver
        set
        version                 =       version + 1,
        last_update_user        =       #{lastUpdateUser},
        last_update_time        =       now(),
        is_delete               =       1
        where driver_code in
        <foreach collection="driverCodeList" item="driverCode" index="index" open="(" separator="," close=")">
            #{driverCode}
        </foreach>
    </update>
</mapper>