<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.hotGoods.dao.HotGoodsDao">
<!--    检查添加此商品分类名称是否存在-->
    <select id="checkHotGoods" parameterType="com.xzsd.pc.hotGoods.entity.HotGoodsInfo" resultType="int">
        select  count(hot_goods_code)
        from    t_sys_hot_goods
        where   is_delete = 0
        and
        (
        goods_code          =   #{goodsCode}
        or
        hot_goods_sort_num  =   #{hotGoodsSortNum}
        )
    </select>
<!--    新增热门商品-->
    <insert id="addHotGoods" parameterType="com.xzsd.pc.hotGoods.entity.HotGoodsInfo">
        insert into t_sys_hot_goods
        (
        hot_goods_code,     goods_code,         hot_goods_sort_num,
        is_delete,          create_user,        create_time,
        last_update_user,   last_update_time,   version
        )
        values
        (
        #{hotGoodsCode},    #{goodsCode},       #{hotGoodsSortNum},
        #{isDelete},        #{createUser},      now(),
        #{lastUpdateUser},  now(),              0
        )
    </insert>
<!--    查询热门商品详情-->
    <select id="findHotGoods" parameterType="java.lang.String" resultType="com.xzsd.pc.hotGoods.entity.HotGoodsInfo">
        select
        a.hot_goods_sort_num      as      hotGoodsSortNum,
        a.goods_code              as      goodsCode,
        b.goods_name              as      goodsName,
        a.hot_goods_code          as      hotGoodsCode,
        a.version                 as      version
        from
        t_sys_hot_goods a, t_sys_goods b
        where a.hot_goods_code  =   #{hotGoodsCode}
        and   a.goods_code      =   b.goods_code
    </select>
<!--    分页查询热门商品-->
    <select id="listHotGoodsByPage" parameterType="com.xzsd.pc.hotGoods.entity.HotGoodsInfo" resultType="com.xzsd.pc.hotGoods.entity.HotGoodsInfo">
        select
        a.hot_goods_sort_num        as      hotGoodsSortNum,
        a.goods_code                as      goodsCode,
        b.goods_price               as      goodsPrice,
        b.goods_introduce           as      goodsIntroduce,
        a.hot_goods_code            as      hotGoodsCode,
        a.version                   as      version
        from
        t_sys_hot_goods a, t_sys_goods b
        where a.is_delete       =   0
        <if test="goodsName != null and goodsName != ''">
            and goods_name like concat('%', #{goodsName}, '%')
        </if>
        <if test="goodsCode != null and goodsCode != ''">
            and goods_code like concat('%', #{goodsCode}, '%')
        </if>
        and   a.goods_code      =   b.goods_code
        order by a.create_time
    </select>
<!--    修改热门商品接口-->
    <update id="updateHotGoods" parameterType="com.xzsd.pc.hotGoods.entity.HotGoodsInfo">
        update t_sys_hot_goods
        set
        hot_goods_sort_num      =       #{hotGoodsSortNum},
        goods_code              =       #{goodsCode},
        version                 =       version + 1,
        last_update_user        =       #{lastUpdateUser},
        last_update_time        =       now()
        where   hot_goods_code  =   #{hotGoodsCode}
        and    version          =   #{version}
    </update>
<!--    查询热门商品展示数量-->
    <select id="findHotGoodsShowNum" resultType="com.xzsd.pc.hotGoods.entity.HotGoodsInfo">
        select
        dictionary_setting as hotGoodsShowNum,
        version            as verison
        from    t_sys_dictionary
        where   dictionary_code =   123456789
        and     is_delete       =   0
    </select>
<!--    修改热门商品数量展示接口-->
    <update id="updateHotGoodsShowNum" parameterType="com.xzsd.pc.hotGoods.entity.HotGoodsInfo">
        update  t_sys_dictionary
        set
        dictionary_setting  =       #{hotGoodsShowNum},
        version             =       version + 1,
        last_update_user    =       #{lastUpdateUser},
        last_update_time    =       now()
        where   is_delete   =   0
        and     version     =   #{version}
        and     dictionary_code =   123456789
    </update>
<!--    删除热门商品接口-->
    <update id="deleteHotGoods" parameterType="com.xzsd.pc.hotGoods.entity.HotGoodsDTO">
        update  t_sys_hot_goods
        set
        is_delete           =       1,
        version             =       version + 1,
        last_update_user    =       #{lastUpdateUser},
        last_update_time    =       now()
        where
        hot_goods_code in
        <foreach collection="hotGoodsCodeList" item="hotGoodsCode" index="index" open="(" separator="," close=")">
            #{hotGoodsCode}
        </foreach>
    </update>
</mapper>