<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.driver.dao.DriverDao">
<!--    查询司机负责门店，店长的相关信息-->
    <select id="findDriverStore" parameterType="java.lang.String" resultType="com.xzsd.app.driver.entity.DriverInfo">
        select
        a1.store_code      as      storeCode,
        a1.store_name      as      storeName,
        a4.area_name       as      proviceName,
        a5.area_name       as      cityName,
        a6.area_name       as      areaName,
        a1.address         as      address,
        a3.user_name       as      userName,
        a1.phone           as      phone
        from
        t_sys_store a1, t_sys_driver a2, t_sys_user a3,
        t_sys_area  a4, t_sys_area   a5, t_sys_area a6
        where   a2.driver_code      =       #{userCode}
        and     a2.invite_code      =       a1.invite_code
        and     a1.user_code        =       a3.user_code
        and     a1.province_code    =       a4.area_code
        and     a1.city_code        =       a5.area_code
        and     a1.area_code        =       a6.area_code
    </select>
</mapper>