<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.shopCar.dao">
<!--    新增购物车接口-->
    <insert id="addShopCar" parameterType="com.xzsd.app.shopCar.entity.ShopCarInfo">
        insert into t_sys_shop_car
        (
        shop_car_code,
        goods_code,
        goods_count,
        is_delete,
        create_user,
        create_time,
        last_update_user,
        last_update_time,
        version
        )
        values
        (
        #{shopCarCode},
        #{goodsCode},
        #{goodsCount},
        #{isDelete},
        #{createUser},
        now(),
        #{lastUpdateUser},
        now(),
        0
        )
    </insert>
<!--    查询购物车接口-->
    <select id="listShopCarByPage" resultType="com.xzsd.app.shopCar.entity.ShopCarInfo">
        select
        a.goods_code                as          goodsCode,
        b.goods_name                as          goodsName,
        b.goods_image_path          as          goodsImagePath,
        b.goods_price               as          goodsPrice,
        a.goods_ount                as          goodsCount,
        a.shop_car_code             as          shopCarCode
        from t_sys_shop_car a, t_sys_goods b
        where   a.is_delete     =   0
        and     a.goods_code    =   b.goods_code
    </select>
<!--    修改购物车接口-->
    <update id="listShopCarByPage" parameterType="com.xzsd.app.shopCar.entity.ShopCarInfo">
        update  t_sys_shop_car
        set
        goods_count             =       #{goodsCount},
        version                 =       version + 1,
        last_update_user        =       #{lastUpdateUser},
        last_update_time        =       now()
        where   shop_car_code   =   #{shopCarCode}
    </update>
<!--    删除购物车接口-->
    <update id="deleteShopCar" parameterType="com.xzsd.app.shopCar.entity.ShopCarDTO">
        update  t_sys_shop_car
        set
        is_delete           =       1,
        version             =       version + 1,
        last_update_user    =       #{lastUpdateUser},
        last_update_time    =       now()
        where
        shop_car_code in
        <foreach collection="shopCarCodeList" item="shopCarCode" index="index" open="(" separator="," close=")">
            #{shopCarCode}
        </foreach>
    </update>
</mapper>