<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.store.storeInfo.dao.StoreDao">
<!--    门店下司机信息-->
<select id="listManangerDriver" parameterType="java.lang.String" resultType="com.xzsd.app.store.storeInfo.entity.StoreInfo">
        select
        u.user_name        as      userName,
        u.user_phone       as      phone
        from    t_sys_user u, t_sys_driver d, t_sys_store s
        where   s.user_code        =       #{userCode}
        and     u.user_code        =       d.driver_code
        and     d.province_code    =       s.province_code
        and     d.city_code        =       s.city_code
        and     d.area_code        =       s.area_code
        and     d.is_delete        =       0
    </select>
</mapper>